<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cadastro de Mock</h4>
          <form>
            <div class="form-group mb-3">
              <label for="exampleInputUsername1">Endereco</label>
              <input type="text" class="form-control" id="endereco">
            </div>
  
            <button type="submit" class="btn btn-primary me-2">Salvar</button>
            <button class="btn btn-light" [routerLink]="''">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  